name: Emacs 28

on:
  push:
    branches:
      - master
    paths:
      - "Formula/emacs-plus@28.rb"
      - "patches/emacs-28/**"
      - "Library/**"
      - ".github/workflows/emacs-28.yml"
  pull_request:
    paths:
      - "Formula/emacs-plus@28.rb"
      - "patches/emacs-28/**"
      - "Library/**"
      - ".github/workflows/emacs-28.yml"
  schedule:
    - cron: "0 */4 * * *"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-11.0]
        build_opts:
          - ""
          - "--with-xwidgets"
          - "--with-no-titlebar"
          - "--with-native-comp"

    env:
      HOMEBREW_GITHUB_REF: ${{ github.head_ref || github.ref }}
      HOMEBREW_GITHUB_REPOSITORY: ${{ github.repository }}
      HOMEBREW_GITHUB_ACTOR: ${{ github.actor }}
      HOMEBREW_GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Use XCode 12.2 for Big Sur
        if: contains(matrix.os, 'macos-11.0')
        run: sudo xcode-select -s "/Applications/Xcode_12.2.app"

      - name: Build emacs-plus@28 ${{ matrix.build_opts }}
        run: brew install emacs-plus@28.rb ${{ matrix.build_opts }}
        working-directory: Formula

      - name: Test installation
        if: contains(matrix.build_opts, '--HEAD') == false
        run: brew test emacs-plus@28.rb
        working-directory: Formula

      - name: Test installation (--HEAD)
        if: contains(matrix.build_opts, '--HEAD')
        run: brew test emacs-plus@28.rb --HEAD
        working-directory: Formula
