name: Emacs (default)

on:
  push:
    branches:
      - master
    paths:
      - "Aliases/emacs-plus"
      - ".github/workflows/emacs.yml"
  pull_request:
    paths:
      - "Aliases/emacs-plus"
      - ".github/workflows/emacs.yml"
  schedule:
    - cron: "0 */12 * * *"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11]
        build_opts:
          - ""
          - "--build-from-source"

    env:
      HOMEBREW_GITHUB_REF: ${{ github.head_ref || github.ref }}
      HOMEBREW_GITHUB_REPOSITORY: ${{ github.repository }}
      HOMEBREW_GITHUB_ACTOR: ${{ github.actor }}

    steps:
      - uses: actions/checkout@v2.4.0

      - name: Build emacs-plus ${{ matrix.build_opts }}
        run: brew install Aliases/$(readlink Aliases/emacs-plus) ${{ matrix.build_opts }}

      - name: Test installation
        if: contains(matrix.build_opts, '--HEAD') == false
        run: brew test Aliases/$(readlink Aliases/emacs-plus)

      - name: Test installation (--HEAD)
        if: contains(matrix.build_opts, '--HEAD')
        run: brew test Aliases/$(readlink Aliases/emacs-plus) --HEAD
